<ion-header>
  <ion-toolbar>
    <ion-title>
      Skils
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item-divider>
    <ion-item>
        <ion-avatar>
            <img src="/assets/img/1.png">
          </ion-avatar>
      <ion-label><h2 >AME NO HABAKIRI</h2><h3>Passsive</h3><p>When units are eliminated nearby, the Blood Demon absorbs their souls into its body to be used as energy. Gains 2 Demon Blood if it's non-hero units and 10 if it it's a hero.</p></ion-label>
    </ion-item>
  </ion-item-divider>
  <ion-item-divider>
    <ion-item>
        <ion-avatar>
        <img src="/assets/img/2.png">
      </ion-avatar>
      <ion-label><h2>NINJUTSU DEMON FEAST</h2><h3>Cooldown 10 </h3><p>Unlocks after five basic attacks. Hanzo uses Ame no Habakiri to devour a target enemy unit and digest them over a period of time. Doing so regenerates Hanzo gets 10 Demon Blood. Can only be used against creeps and minions. Deals 500 points of True Damage if the target is Lord or the Turtle.</p></ion-label>
    </ion-item>
  </ion-item-divider>
  <ion-item-divider>
    <ion-item>
        <ion-avatar>
        <img src="/assets/img/3.png">
      </ion-avatar>
      <ion-label><h2>NINJUTSU SOUL REAP</h2><h3>Cooldown 7.5  </h3><p>Hanzo opens the soul portal to deal 160(+60% Total Physical Attack) points of Physical Damage immediately. The portal then cause 40(+15% Total Physical Attack) points of Physical Damage every 0.5 seconds and last 4.5 seconds. Everytime the portal deals damage Hanzo recovers Demon Blood. If Hanzo steps into the center of the portal, he will recover the area and Demon Blood used.</p></ion-label>
    </ion-item>
  </ion-item-divider>
  <ion-item-divider>
    <ion-item>
      <ion-avatar>
        <img src="/assets/img/4.png">
      </ion-avatar>
      <ion-label><h2>KINJUTSU PINNACLE NINJA</h2><h3>Cooldown 21.0  </h3><p>With the help of the Blood Demon, Hanzo becomes the Supreme Demon Ninja and achieves 20 Demon Blood. He then dashes forward to gain 30% movement speed and 30% attack speed. When the Demon Ninja is killed Hanzo will return to where the Blood Demon was, stunned and weakened. If the Blood Demon is killed Hanzo dies too. This skill consumes Demon Blood and once it's used up, the Blood Demon would speed up and get back to Hanzo while stop providing buffs.</p></ion-label>
    </ion-item>
  </ion-item-divider>
  <ion-item-divider>
      <ion-item>
        <ion-avatar>
          <img src="/assets/img/6.png">
        </ion-avatar>
        <ion-label><h2>NINJUTSU DEMON THORN</h2><h3>Cooldown 7.0  </h3><p>Unlocks temporarily after five basic attacks. Hanzo summons the Demon Thorn that is full of Demon Blood Power to attack enemies in a designated direction, dealing 10+500 of the target's Max HP points of Physical Damage to enemies and regenerates Demon Blood. Damage decays when targets are non-hero units.</p></ion-label>
      </ion-item>
    </ion-item-divider>
    <ion-item-divider>
      <ion-item>
      <ion-avatar><img src="/assets/img/7.png" alt=""></ion-avatar>
      <ion-label>
        <h2>NINJUTSU DEVASTATOR</h2>
          <h3>Cooldown 10.0  </h3>
            <p>Hanzo transforms into Demon Pneuma and dashes towards the designated place, dealing 80 (+30% Total Physical Attack) Physical Damage within this area. Unlocks 1 layer of Ninjutsu: Demon Feast. The skill can trigger the bonus effect from Basic Attacks.</p>
          
        
      </ion-label>
    </ion-item>
    </ion-item-divider>
</ion-list>
  

<ion-content></ion-content>
